# Whisper API Configuration
WHISPER_API_KEY=lGGxKRx4IXnDNIVamkBskbBAyo39LtG6

# Google Drive Configuration
DRIVE_FOLDER_ID=1PYaVpIoaaszLaM-T-sE73SI4GI7w_Q45

# Server Configuration
PORT=3000
NODE_ENV=production
